<h1>Bienvenido a Game Store</h1>
{{>menu}}
<hr>
<h2>Logueate o registrate para comprar</h2>
<div class="container">
    {{#each productos}}
    <div class="card">
            <h3>{{title}}</h3>
            <img src="/uploads/{{thumbnail}}" alt="Thumbnail"></p>
            <p>Precio: ${{price}}</p>
            <p>Código: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <p>Category: {{category}}</p>
            <p>Descripción:{{description}}</p>
            <p>Status: {{status}}</p>  
    </div>
    {{/each}}
</div>