<h2>Perfil de {{user.first_name}}</h2>
{{>menu}}
<hr>
<div class="formulario">
    <h3>Datos del usuario:</h3>
    <p>Nombre: <strong>{{user.first_name}}</strong></p>
    <p>Apellido: <strong>{{user.last_name}}</strong></p>
    <p>Edad: <strong>{{user.age}}</strong></p>
    <p>Correo electrónico: <strong>{{user.email}}</strong></p>
    <p>Carrito: <strong>{{user.carrito}}</strong></p>
</div>
<div class="formulario">
    <form id="changeRoleForm" action="/api/users/premium/{{user._id}}" method="post" class="formulario">
        <input type="hidden" name="uid" value="{{user._id}}" />
        <button type="submit">Cambiar rol del usuario</button>
    </form>
</div>
<h3>Cargar Documentos</h3>
<div class="formulario">
    <form id="upload-documents-form" action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data" class="container">
        <h3>Subir Documentos</h3>
        <label for="identification">Identificación:</label>
        <input type="file" name="documents" id="identification" />
        <br>
        <label for="address">Comprobante de domicilio:</label>
        <input type="file" name="documents" id="address" />
        <br>
        <label for="statement">Comprobante de estado de cuenta:</label>
        <input type="file" name="documents" id="statement" />
        <br>
        <button type="submit">Subir documentos</button>
    </form>
</div>
<br><br>
<button><a href="/products">Ir a comprar</a></button>

<script src="js/changerol.js"></script>